spring:
  datasource:
    url: jdbc:mysql://${MYSQL_DB:localhost}/iseplive_db?createDatabaseIfNotExist=true&useSSL=false&useUnicode=yes&characterEncoding=UTF-8
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
  http:
    multipart:
      max-file-size: 2000MB
      max-request-size: 2000MB

server:
  port: 8080
security:
  basic:
    enabled: false

storage:
  url: "storage"
  club:
    url: "/club"
  event:
    url: "/event"
  image:
    url: "/image"
  student:
    url: "/student"
  video:
    url: "/video"
  document:
    url: "/document"
  dor:
    config:
      url: "/dor/config"
    diploma:
      url: "/dor/diploma"

logging:
  level:
    com.iseplive.api: INFO


jwt:
  secret: 1jmhvPXhI40vqAnm
  refreshSecret: fIH3ZmRmqH2LT6vH
  tokenDuration: 600 # 10 min
  refreshTokenDuration: 604800 # 7 jours
#  tokenDuration: 604800 # 7 jours
#  tokenDuration: 10
  issuer: IsepLive

auth:
  password: password
  enable: true
